@{
    ViewBag.Title = "Listado de Ordenes";
}
<style>
    /*
       .table-container {
        background-color: white;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: Rockwell;
    }

    .btn {
        margin-bottom: 5px;
        font-family: Rockwell;
    }


   */ 
</style>
<div>
    <h2>Listado de Ordenes</h2>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <table  class="table" style="background-color: white;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Costo</th>
                <th>Creacion</th>
                <th>Actualizacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrdersList)
            {
                <tr>
                    <th scope="row" >@item.Id</th>
                    <td class="table-light">@item.customer_name @item.customer_surname</td>
                    <td class="table-light">@item.customer_email</td>
                    <td class="table-light">@item.customer_mobile</td>
                    <td class="table-light">@item.status</td>
                    <td class="table-light">@ViewBag.CurrencySymbol @item.OrderCost</td>
                    <td class="table-light">@item.created_at</td>
                    <td class="table-light">@item.updated_at</td>
                    <td class="table-light">
                        @Html.ActionLink("Detalles", "ViewOrder", "Customer",  routeValues: new {Id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Volver al menu", "Index", "Customer", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
